<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Ariane</title>
  <style>
    .clickable {
      color: blue;
      cursor: pointer;
      text-decoration: underline;
    }
    html, body {
      height: 100%;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    body {
      display: flex;
      justify-content: center;     /* horizontal centering */
      align-items: center;         /* vertical centering */
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>
  <div id="story"></div>
  <div id="controls" style="margin-top: 200px;">
  <script src="/static/script.js"></script>
</body>
</html>